In [103]:
import pandas as pd
import numpy as np
df=pd.read_excel('E:\Python DEV\Analise_de_Dados\T4.2022.xlsx')

<>:3: SyntaxWarning: invalid escape sequence '\P'
<>:3: SyntaxWarning: invalid escape sequence '\P'
C:\Users\cesar\AppData\Local\Temp\ipykernel_20700\1860416274.py:3: SyntaxWarning: invalid escape sequence '\P'
  df=pd.read_excel('E:\Python DEV\Analise_de_Dados\T4.2022.xlsx')

In [104]:
def mask(nome_completo):
    """Retorna o primeiro nome e a inicial do sobrenome."""
    partes = nome_completo.split()
    if len(partes) > 1:
        primeiro_nome = partes[0]
        inicial_sobrenome = partes[1][0]  # Primeira letra do sobrenome
        return f"{primeiro_nome} {inicial_sobrenome}."
    return nome_completo  # Caso não haja sobrenome

In [105]:
df['Vendedor'] = df['Vendedor'].apply(mask)
df['Cliente']=df['Cliente'].apply(mask)
df

' Salvar o resultado em um novo arquivo Excel\nnovo_arquivo_excel = \'nomes_sem_sobrenome.xlsx\'\ndf.to_excel(novo_arquivo_excel, index=False)\n\nprint(f"Arquivo salvo como {novo_arquivo_excel}")'

In [106]:
df

,Data,Nota Fiscal,Grupo Cliente,Quantidade,Valor Total,Custo Total,Categoria de Produto,Cliente,UF,Cidade,Vendedor,Região,Foto Vendedor
0,2022-10-01,139426,1,1,407.41,65.94,Tênis,Marina M.,BA,SALVADOR,Paulo S.,Verde,https://exemplos.databinteligencia.com.br/foto...
1,2022-10-01,139426,1,1,407.41,65.94,Tênis,Marina M.,BA,SALVADOR,Paulo S.,Verde,https://exemplos.databinteligencia.com.br/foto...
2,2022-10-01,139405,1,1,38.90,13.69,Camping e Pesca,Eduarda F.,BA,SALVADOR,Rodrigo G.,Verde,https://exemplos.databinteligencia.com.br/foto...
3,2022-10-01,139405,1,1,38.90,13.69,Camping e Pesca,Eduarda F.,BA,SALVADOR,Rodrigo G.,Verde,https://exemplos.databinteligencia.com.br/foto...
4,2022-10-01,139405,1,1,38.90,13.69,Camping e Pesca,Eduarda F.,BA,SALVADOR,Rodrigo G.,Verde,https://exemplos.databinteligencia.com.br/foto...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6134,2022-12-30,32801,4,15,3000.00,273.30,Radicais,Brenda M.,SP,SAO PAULO,Paulo S.,Laranja,https://exemplos.databinteligencia.com.br/foto...
6135,2022-12-30,32801,4,15,3000.00,273.30,Radicais,Brenda M.,SP,SAO PAULO,Paulo S.,Laranja,https://exemplos.databinteligencia.com.br/foto...
6136,2022-12-30,32801,4,15,3000.00,273.30,Radicais,Brenda M.,SP,SAO PAULO,Paulo S.,Laranja,https://exemplos.databinteligencia.com.br/foto...
6137,2022-12-30,32801,4,15,3000.00,273.30,Radicais,Brenda M.,SP,SAO PAULO,Paulo S.,Laranja,https://exemplos.databinteligencia.com.br/foto...
6138,2022-12-30,32779,2,2,214.00,47.00,Academia,Daniel A.,SC,JOINVILLE,Julia S.,Laranja,https://arquivos.databinteligencia.com.br/imag...

In [100]:
def mask(nome_completo):
    """Retorna o primeiro nome e a inicial do sobrenome."""
    partes = nome_completo.split()
    if len(partes) > 1:
        primeiro_nome = partes[0]
        inicial_sobrenome = partes[1][0]  # Primeira letra do sobrenome
        return f"{primeiro_nome} {inicial_sobrenome}."
    return nome_completo  # Caso não haja sobrenome

In [96]:
df=df.drop(columns=['Foto Vendedor'])
#Salvando o arquivo na pasta no formato desejado.
novo_arquivo= 'df_novo.xlsx'
df.to_excel(novo_arquivo,index=False)